body {
  min-width: 420px;
}

label {
  user-select: none;
}

#padding-h-input, #padding-v-input {
  max-width: 60px;
}

#font-size-input {
  max-width: 60px;
}

.font-sm {
  font-size: 0.875rem;
}

.bs-breakpoint {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 5px;
  font-size: 0.875rem;
  border: 1px solid #eee;
  color: #bbb;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

.preview-container canvas {
  border: 1px solid lightgray;
  padding: 5px;
  image-rendering: pixelated;
  background-color: #eee;
  box-sizing: content-box;
}

.preview-container textarea {
  border: 1px solid lightgray;
  padding: 5px;
  background-color: #f8f8f8;
  box-sizing: content-box;
  font-size: 0.875rem;
  font-family: monospace;
}

.metrics-output {
  font-size: 0.8rem;
  white-space: pre;
  color: #444;
}
